*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: #0eacc6;
}

body{
    background-color: #111724;
    padding: 50px;
    margin-top: 15%;
    display: flex;
    justify-content: center ;
}

.btn{
  position: absolute;
    top:60%;
    display: flex;
    justify-content: center;
   
}
button{
    width: 450px;
    height: 50px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #5267dd;
    text-transform: uppercase;
    
}
button:hover{
    box-shadow: 0 5px 30px #ccc30e;
}